version: "3.7"
services:

## --------------------------- N8N --------------------------- ##

  n8n_editor:
    image: n8nio/n8n:latest ## Versão do N8N
    command: start

    networks:
      - {{ network_name }} ## Nome da rede interna

    environment:
      ## 🗄️ Banco de Dados (PostgreSQL)
      - N8N_FIX_MIGRATIONS=true 
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE={{ database_name }}
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER=postgres
      - DB_POSTGRESDB_PASSWORD={{ postgres_password }}

      ## 🔐 Criptografia
      - N8N_ENCRYPTION_KEY={{ encryption_key }}

      ## 🌐 URLs e Configurações de Acesso
      - N8N_HOST={{ n8n_domain }}
      - N8N_EDITOR_BASE_URL=https://{{ n8n_domain }}/
      - WEBHOOK_URL=https://{{ webhook_domain }}/
      - N8N_PROTOCOL=https

      ## ⚙️ Ambiente de Execução
      - NODE_ENV=production
      - EXECUTIONS_MODE=queue
      - EXECUTIONS_TIMEOUT=3600
      - EXECUTIONS_TIMEOUT_MAX=7200
      - OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_RUNNERS_MODE=internal

      ## 📦 Pacotes e Nós Comunitários
      - N8N_REINSTALL_MISSING_PACKAGES=true
      - N8N_COMMUNITY_PACKAGES_ENABLED=true
      - N8N_NODE_PATH=/home/node/.n8n/nodes
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

      ## 📧 SMTP (Envio de E-mails)
      - N8N_SMTP_SENDER={{ smtp_email }}
      - N8N_SMTP_USER={{ smtp_user }}
      - N8N_SMTP_PASS={{ smtp_password }}
      - N8N_SMTP_HOST={{ smtp_host }}
      - N8N_SMTP_PORT={{ smtp_port }}
      - N8N_SMTP_SSL={{ smtp_secure }}

      ## 🔁 Redis (Fila de Execução)
      - QUEUE_BULL_REDIS_HOST=redis
      - QUEUE_BULL_REDIS_PORT=6379
      - QUEUE_BULL_REDIS_PASSWORD={{ redis_password }}
      - QUEUE_BULL_REDIS_DB=2

      ## 📊 Métricas
      - N8N_METRICS=true

      ## ⏱️ Execuções e Limpeza
      - EXECUTIONS_DATA_PRUNE=true
      - EXECUTIONS_DATA_MAX_AGE=336

      ## 🧠 Recursos de IA
      - N8N_AI_ENABLED=false
      - N8N_AI_PROVIDER=openai
      - N8N_AI_OPENAI_API_KEY=

      ## 🧰 Permissões em Funções Personalizadas
      - NODE_FUNCTION_ALLOW_BUILTIN=*
      - NODE_FUNCTION_ALLOW_EXTERNAL=*

      ## 🕒 Fuso Horário
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - TZ=America/Sao_Paulo

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "1"
          memory: 1024M
      labels:
        - traefik.enable=true
        - traefik.http.routers.n8n.rule=Host(`{{ n8n_domain }}`)
        - traefik.http.routers.n8n.entrypoints=websecure
        - traefik.http.routers.n8n.tls.certresolver=letsencryptresolver
        - traefik.http.services.n8n.loadbalancer.server.port=5678
        - traefik.http.routers.n8n.service=n8n

  n8n_webhook:
    image: n8nio/n8n:latest ## Versão do N8N
    command: webhook

    networks:
      - {{ network_name }} ## Nome da rede interna

    environment:
      ## 🗄️ Banco de Dados (PostgreSQL)
      - N8N_FIX_MIGRATIONS=true 
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE={{ database_name }}
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER=postgres
      - DB_POSTGRESDB_PASSWORD={{ postgres_password }}

      ## 🔐 Criptografia
      - N8N_ENCRYPTION_KEY={{ encryption_key }}

      ## 🌐 URLs e Configurações de Acesso
      - N8N_HOST={{ n8n_domain }}
      - N8N_EDITOR_BASE_URL=https://{{ n8n_domain }}/
      - WEBHOOK_URL=https://{{ webhook_domain }}/
      - N8N_PROTOCOL=https

      ## ⚙️ Ambiente de Execução
      - NODE_ENV=production
      - EXECUTIONS_MODE=queue

      ## 🔁 Redis (Fila de Execução)
      - QUEUE_BULL_REDIS_HOST=redis
      - QUEUE_BULL_REDIS_PORT=6379
      - QUEUE_BULL_REDIS_PASSWORD={{ redis_password }}
      - QUEUE_BULL_REDIS_DB=2

      ## 🕒 Fuso Horário
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - TZ=America/Sao_Paulo

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      labels:
        - traefik.enable=true
        - traefik.http.routers.n8n-webhook.rule=Host(`{{ webhook_domain }}`)
        - traefik.http.routers.n8n-webhook.entrypoints=websecure
        - traefik.http.routers.n8n-webhook.tls.certresolver=letsencryptresolver
        - traefik.http.services.n8n-webhook.loadbalancer.server.port=5678
        - traefik.http.routers.n8n-webhook.service=n8n-webhook

  n8n_worker:
    image: n8nio/n8n:latest ## Versão do N8N
    command: worker

    networks:
      - {{ network_name }} ## Nome da rede interna

    environment:
      ## 🗄️ Banco de Dados (PostgreSQL)
      - N8N_FIX_MIGRATIONS=true 
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_DATABASE={{ database_name }}
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_USER=postgres
      - DB_POSTGRESDB_PASSWORD={{ postgres_password }}

      ## 🔐 Criptografia
      - N8N_ENCRYPTION_KEY={{ encryption_key }}

      ## 🌐 URLs e Configurações de Acesso
      - N8N_HOST={{ n8n_domain }}
      - N8N_EDITOR_BASE_URL=https://{{ n8n_domain }}/
      - WEBHOOK_URL=https://{{ webhook_domain }}/
      - N8N_PROTOCOL=https

      ## ⚙️ Ambiente de Execução
      - NODE_ENV=production
      - EXECUTIONS_MODE=queue

      ## 📦 Pacotes e Nós Comunitários
      - N8N_REINSTALL_MISSING_PACKAGES=true
      - N8N_COMMUNITY_PACKAGES_ENABLED=true
      - N8N_NODE_PATH=/home/node/.n8n/nodes
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true

      ## 🔁 Redis (Fila de Execução)
      - QUEUE_BULL_REDIS_HOST=redis
      - QUEUE_BULL_REDIS_PORT=6379
      - QUEUE_BULL_REDIS_PASSWORD={{ redis_password }}
      - QUEUE_BULL_REDIS_DB=2

      ## 🧰 Permissões em Funções Personalizadas
      - NODE_FUNCTION_ALLOW_BUILTIN=*
      - NODE_FUNCTION_ALLOW_EXTERNAL=*

      ## 🕒 Fuso Horário
      - GENERIC_TIMEZONE=America/Sao_Paulo
      - TZ=America/Sao_Paulo

    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "1"
          memory: 1024M

## --------------------------- REDE --------------------------- ##
networks:
  {{ network_name }}:
    external: true
